@charset "UTF-8";
/*
B5サイズ：182mm x 257mm（≒ 688px x 972px)
*/

:root {
	--width: 688;
	--height: 972;
	--width_px: 688px;
	--height_px: 972px;
	--ratio: var(--width) / var(--height);
	--containerPadding: calc(15 / var(--width) * 100%);
	font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
	display: grid;
	gap: 30px 40px;
	grid-template: auto 1fr / repeat(1, min(100%, var(--width_px)));
	align-items: flex-start;
	justify-content: center;
	max-width: 1280px;
	min-height: 100vh;
	padding: clamp(20px, calc((40 / 768) * 100%), 40px);
	margin: 0 auto;
	@media only screen and (min-width: 1240px) {
		grid-template: auto / repeat(2, min(calc(50% - 40px * .5), var(--width_px)));
		align-items: center;
	}
	@media print {
		grid-template-rows: 1fr;
		padding: 0;
	}
}
/* .wrapper */

.myBlockFlyer {
	background-color: #fff;
	position: relative;
	line-height: 1;
	aspect-ratio: var(--ratio);
	z-index: 1;
	@media print {
		overflow: hidden;
	}
	&::after {
		content: "";
		border: 1px solid #000;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: var(--containerPadding);
		z-index: -1;
	}
	.logo {
		position: absolute;
		margin-top: var(--containerPadding);
		margin-left: var(--containerPadding);
		width: calc(100 / var(--width) * 100%);
		img {
			border: 1px solid #000;
		}
	}
	.block01 {
		position: absolute;
		margin-top: calc(100 / var(--width) * 100%);
		color: #000;
		font-weight: 900;
		text-align: center;
		width: 100%;
		&__txt01 {
			font-size: min(calc(32 / var(--width) * 100vw), 32px);
			margin-bottom: calc(10 / var(--width) * 100%);
		}
		&__txt02 {
			font-size: min(calc(42 / var(--width) * 100vw), 42px);
		}
	}
	.youtube {
		position: absolute;
		left: 0;
		right: 0;
		margin: calc(230 / var(--width) * 100%) var(--containerPadding) 0;
		&__title {
			color: #000;
			font-size: min(calc(20 / var(--width) * 100vw), 20px);
			font-weight: bold;
			margin-bottom: calc(20 / var(--width) * 100%);
		}
		&__item {
			* {
				aspect-ratio: 400 / 300;
				width: 100%;
				height: 100%;
			}
			img {
				@media screen {
					display: none;
				}
			}
			iframe {
				@media print {
					display: none;
				}
			}
		}
	}
	.detail {
		background-color: #ccccff;
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: var(--containerPadding);
		&__txt01 {
			font-size: min(calc(24 / var(--width) * 100vw), 24px);
			font-weight: 900;
		}
		&__txt02 {
			font-size: min(calc(16 / var(--width) * 100vw), 16px);
		}
	}
}
/* .myBlockFlyer */

.myBlockContents {
	position: relative;
	@media only screen and (min-width: 1240px) {
		aspect-ratio: var(--ratio);
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: auto;
	}
	@media print {
		display: none;
	}
	.myTitle {
		font-size: min(calc(32 * .2vw), 32px);
		font-weight: 900;
		margin-bottom: 30px;
	}
}
.myBlockContents .myList {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__item {
		border-bottom: 1px solid currentColor;
		padding-bottom: 10px;
	}
	&__title {
		font-weight: bold;
		&::before {
			content: "\25A0";
			margin-right: 0.5em;
		}
	}
	&__detail {
		ul {
			list-style: none;
			li {
				text-indent: -1em;
				padding-left: 1em;
				&::before {
					content: "\30FB";
				}
			}
		}
	}
}
/* .myBlockContents */