@charset "UTF-8";
/*
B5サイズ：182mm x 257mm（≒ 688px x 972px)
*/
:root {
  --width: 688;
  --height: 972;
  --width_px: 688px;
  --height_px: 972px;
  --ratio: var(--width) / var(--height);
  --containerPadding: calc(15 / var(--width) * 100%);
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
  display: grid;
  gap: 30px 40px;
  grid-template: auto 1fr/repeat(1, min(100%, var(--width_px)));
  align-items: flex-start;
  justify-content: center;
  max-width: 1280px;
  min-height: 100vh;
  padding: clamp(20px, 5.2083333333%, 40px);
  margin: 0 auto;
}
@media only screen and (min-width: 1240px) {
  .wrapper {
    grid-template: auto/repeat(2, min(50% - 20px, var(--width_px)));
    align-items: center;
  }
}
@media print {
  .wrapper {
    grid-template-rows: 1fr;
    padding: 0;
  }
}

/* .wrapper */
.myBlockFlyer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  line-height: 1;
  aspect-ratio: var(--ratio);
  z-index: 1;
}
@media print {
  .myBlockFlyer {
    overflow: hidden;
  }
}
.myBlockFlyer::after {
  border: 1px solid #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: var(--containerPadding);
  z-index: 100;
}
.myBlockFlyer .detail {
  flex: 1;
  position: relative;
  padding: calc(84 / var(--width) * 100%) var(--containerPadding) var(--containerPadding);
}
.myBlockFlyer .detail::after {
  content: "";
  border: 1px solid #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: var(--containerPadding);
  z-index: -1;
}
.myBlockFlyer .logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: var(--containerPadding);
  margin-left: var(--containerPadding);
  width: calc(100 / var(--width) * 100%);
}
.myBlockFlyer .logo img {
  border: 1px solid #000;
}
.myBlockFlyer .block01 {
  color: #000;
  font-weight: 900;
  text-align: center;
  width: 100%;
}
.myBlockFlyer .block01__txt01 {
  font-size: min(32 / var(--width) * 100vw, 32px);
  margin-bottom: calc(10 / var(--width) * 100%);
}
.myBlockFlyer .block01__txt02 {
  font-size: min(42 / var(--width) * 100vw, 42px);
}
.myBlockFlyer .youtube {
  margin: calc(30 / var(--width) * 100%) 0 calc(30 / var(--width) * 100%);
}
.myBlockFlyer .youtube__item * {
  aspect-ratio: 300/200;
  width: 100%;
  height: 100%;
}
@media screen {
  .myBlockFlyer .youtube__item img {
    display: none;
  }
}
@media print {
  .myBlockFlyer .youtube__item iframe {
    display: none;
  }
}
.myBlockFlyer .player {
  color: #000;
  font-weight: 900;
  text-align: center;
  margin-bottom: calc(16 / var(--width) * 100%);
  padding: 0 var(--containerPadding);
}
.myBlockFlyer .player__txt01 {
  font-size: min(30 / var(--width) * 100vw, 30px);
  margin-bottom: calc(20 / var(--width) * 100%);
}
.myBlockFlyer .player__txt02 {
  font-size: min(22 / var(--width) * 100vw, 22px);
  line-height: 1.4;
}
.myBlockFlyer .info {
  background-color: #ddddff;
  font-size: min(20 / var(--width) * 100vw, 20px);
  text-shadow: 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
  width: 100%;
  padding: var(--containerPadding);
}
.myBlockFlyer .info__txt01 {
  font-size: min(28 / var(--width) * 100vw, 28px);
  font-weight: 900;
  margin-bottom: 10px;
}
.myBlockFlyer .info__txt02:not(:last-child) {
  margin-bottom: 10px;
}

/* .myBlockFlyer */
.myBlockContents {
  position: relative;
}
@media only screen and (min-width: 1240px) {
  .myBlockContents {
    aspect-ratio: var(--ratio);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }
}
@media print {
  .myBlockContents {
    display: none;
  }
}
.myBlockContents .myTitle {
  font-size: min(6.4vw, 32px);
  font-weight: 900;
  margin-bottom: 30px;
}

.myBlockContents .myList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myBlockContents .myList__item {
  border-bottom: 1px solid currentColor;
  padding-bottom: 10px;
}
.myBlockContents .myList__title {
  font-weight: bold;
}
.myBlockContents .myList__title::before {
  content: "■";
  margin-right: 0.5em;
}
.myBlockContents .myList__detail ul {
  list-style: none;
}
.myBlockContents .myList__detail ul li {
  text-indent: -1em;
  padding-left: 1em;
}
.myBlockContents .myList__detail ul li::before {
  content: "・";
}

/* .myBlockContents */