@charset "UTF-8";
/*
A5サイズ：148mm x 210mm（≒ 560px x 794px)
*/
:root {
  --width: 560;
  --height: 794;
  --width_px: 560px;
  --height_px: 794px;
  --ratio: 148 / 210;
  --containerPadding: calc(15 / var(--width) * 100%);
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
  display: grid;
  gap: 30px 40px;
  grid-template: auto 1fr/repeat(1, min(100%, var(--width_px)));
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  padding: clamp(20px, 5.2083333333%, 40px);
}
@media only screen and (min-width: 1240px) {
  .wrapper {
    grid-template: auto/repeat(2, min(100%, var(--width_px)));
    align-items: center;
  }
}
@media print {
  .wrapper {
    grid-template-rows: 1fr;
    padding: 0;
  }
}

/* .wrapper */
.myBlockFlyer {
  background-color: #fff;
  position: relative;
  line-height: 1;
  aspect-ratio: var(--ratio);
  z-index: 1;
}
@media print {
  .myBlockFlyer {
    overflow: hidden;
  }
}
.myBlockFlyer::after {
  content: "";
  border: 1px solid #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: var(--containerPadding);
  z-index: -1;
}
.myBlockFlyer .logo {
  position: absolute;
  margin-top: var(--containerPadding);
  margin-left: var(--containerPadding);
  width: calc(100 / var(--width) * 100%);
}
.myBlockFlyer .logo img {
  border: 1px solid #000;
}
.myBlockFlyer .block01 {
  position: absolute;
  margin-top: calc(100 / var(--width) * 100%);
  color: #000;
  font-weight: 900;
  text-align: center;
  width: 100%;
}
.myBlockFlyer .block01__txt01 {
  font-size: min(32 / var(--width) * 100vw, 32px);
  margin-bottom: calc(10 / var(--width) * 100%);
}
.myBlockFlyer .block01__txt02 {
  font-size: min(42 / var(--width) * 100vw, 42px);
}
.myBlockFlyer .youtube {
  position: absolute;
  margin: calc(230 / var(--width) * 100%) var(--containerPadding) 0;
}
.myBlockFlyer .youtube__title {
  color: #000;
  font-size: min(20 / var(--width) * 100vw, 20px);
  font-weight: bold;
  margin-bottom: calc(20 / var(--width) * 100%);
}
.myBlockFlyer .youtube__item * {
  aspect-ratio: 400/300;
  height: 100%;
}
@media screen {
  .myBlockFlyer .youtube__item img {
    display: none;
  }
}
@media print {
  .myBlockFlyer .youtube__item iframe {
    display: none;
  }
}
.myBlockFlyer .detail {
  background-color: #ccccff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: var(--containerPadding);
}
.myBlockFlyer .detail__txt01 {
  font-size: min(24 / var(--width) * 100vw, 24px);
  font-weight: 900;
}
.myBlockFlyer .detail__txt02 {
  font-size: min(16 / var(--width) * 100vw, 16px);
}

/* .myBlockFlyer */
.myBlockContents {
  position: relative;
}
@media only screen and (min-width: 1240px) {
  .myBlockContents {
    aspect-ratio: var(--ratio);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
  }
}
@media print {
  .myBlockContents {
    display: none;
  }
}
.myBlockContents .myTitle {
  font-size: min(6.4vw, 32px);
  font-weight: 900;
  margin-bottom: 30px;
}

.myBlockContents .myList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.myBlockContents .myList__item {
  border-bottom: 1px solid currentColor;
  padding-bottom: 10px;
}
.myBlockContents .myList__title {
  font-weight: bold;
}
.myBlockContents .myList__title::before {
  content: "■";
  margin-right: 0.5em;
}
.myBlockContents .myList__detail ul {
  list-style: none;
}
.myBlockContents .myList__detail ul li {
  text-indent: -1em;
  padding-left: 1em;
}
.myBlockContents .myList__detail ul li::before {
  content: "・";
}

/* .myBlockContents */