@charset "UTF-8";
/*
B5サイズ：182mm x 257mm（≒ 688px x 972px)
*/

:root {
	--width: 688;
	--height: 972;
	--width_px: 688px;
	--height_px: 972px;
	--containerPadding: calc(15 / var(--width) * 100%);
	background-color: #000;
	font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
	display: grid;
	gap: 30px 40px;
	grid-template: auto 1fr / repeat(1, min(100%, var(--width_px)));
	align-items: flex-start;
	justify-content: center;
	max-width: 1280px;
	min-height: 100vh;
	padding: clamp(20px, calc((40 / 768) * 100%), 40px);
	margin: 0 auto;
	@media only screen and (min-width: 1240px) {
		grid-template: auto / repeat(2, min(calc(50% - 40px * .5), var(--width_px)));
		align-items: center;
	}
	@media print {
		grid-template: 1fr / 1fr;
		align-items: center;
		width: calc(100% - var(--containerPadding) * 2);
		padding: 0;
	}
}
/* .wrapper */

.myBlockFlyer {
	position: relative;
	line-height: 1;
	aspect-ratio: var(--height) / var(--width);
	padding: var(--containerPadding);
	z-index: 1;
	@media print {
		overflow: hidden;
	}
	&::after {
		content: "";
		border: 1px solid #fff;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		z-index: 1;
	}
	.logo {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: var(--containerPadding);
		margin-left: var(--containerPadding);
		margin-right: var(--containerPadding);
		width: calc(80 / var(--width) * 100%);
		z-index: 2;
		img {
			border: 1px solid #fff;
		}
	}
	.img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
}
/* .myBlockFlyer */

.myBlockContents {
	position: relative;
	@media only screen and (min-width: 1240px) {
		aspect-ratio: var(--ratio);
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: auto;
	}
	@media print {
		display: none;
	}
	.myTitle {
		font-size: min(calc(32 * .2vw), 32px);
		font-weight: 900;
		margin-bottom: 30px;
	}
}
.myBlockContents .myList {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__item {
		border-bottom: 1px solid currentColor;
		padding-bottom: 10px;
	}
	&__title {
		font-weight: bold;
		&::before {
			content: "\25A0";
			margin-right: 0.5em;
		}
	}
	&__detail {
		ul {
			list-style: none;
			li {
				text-indent: -1em;
				padding-left: 1em;
				&::before {
					content: "\30FB";
				}
			}
		}
	}
}
/* .myBlockContents */